<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="ISO-8859-1">
<title>Complete el siguiente formulario</title>
<style>
	body{
		background-color: rgb(33,82,86);

	}
	#contain div{
		background-color: rgb(99,177,177);		
	}
	#title div{
		background-color: rgb(153,204,204);
		text-align: center;
		padding-bottom: 5%;
		padding-top: 5%;		
	}
</style>
</head>
<body>
	<div id="contain" class="container">
		<div id="title"class="row">
			<div class="col-lg-12">
				<h1>Ingrese sus datos para confirmar su prestamo</h1>
			</div>
		</div>
	<div class="row">
		<div class="col-lg-12">
			<form action="#" th:object="${prestamo}" th:action="@{'/prestamo/__${prestamo.id}__/solicitud'}"  method="post">
 		 		<div class="form-group row" hidden>
 					<div class="col-xs-6">
 						Nombre: <input type="text" class="form-control" th:field="*{nombre}" th:text="prestamo.nombre"/>
 					</div>
 				</div>
 			 	<div class="form-group row" hidden>
 					<div class="col-xs-6">
 						Apellido: <input type="text" class="form-control" th:field="*{apellido}" th:text="prestamo.apellido"/>
 					</div>
 				</div>
 			 	<div class="form-group row" hidden>
	 				<div class="col-xs-6">
 						DNI: <input type="text" class="form-control" th:field="*{dni}" th:text="prestamo.dni"/>
 					</div>
 				</div>
 			 	<div class="form-group row" hidden>
 					<div class="col-xs-6">
 						Correo: <input type="text" class="form-control" th:field="*{correo}" th:text="prestamo.correo"/>
 					</div>
 				</div>
 		 		<div class="form-group row" hidden>
 					<div class="col-xs-6">
 						Sueldo: <input type="text" class="form-control" th:field="*{sueldo}" th:text="prestamo.sueldo"/>
 					</div>
 				</div>
 		 		<div class="form-group row" hidden>
 					<div class="col-xs-6">
 						Planilla: <input type="text" class="form-control" th:field="*{planilla}" th:text="prestamo.planilla"/>
 					</div>
 				</div>
 			 	<div class="form-group row" hidden>
 					<div class="col-xs-6">
 						Impuesto Renta a Pagar: <input type="text" class="form-control" th:field="*{ImpRentaPagar}" th:text="prestamo.ImpRentaPagar"/>
 					</div>
 				</div>
 	 			<div class="form-group row" hidden>
 					<div class="col-xs-6">
 						Tipo de Prestamo: <input type="text" class="form-control" th:field="*{TipoPrestamo}" th:text="prestamo.TipoPrestamo"/>
 					</div>
 				</div>
 			 	<div class="form-group row">
 					<div class="col-xs-6">
 						Direccion <input type="text" class="form-control" th:field="*{direccion}"/>
	 				</div>
 				</div>
 			 	<div class="form-group row">
	 				<div class="col-xs-6">
 						Telefono: <input type="text" class="form-control" th:field="*{Telefono}"/>
 						</div>
 				</div>
 				<br>
 					<input type="submit" class="btn btn-primary" value="Confirmar Prestamo"/>
 					<input type="reset" class="btn btn-secondary" value="cancelar"/>
	 		</form>
	 	</div>
 	</div>
 </div>
</body>
</html>