<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Complete el siguiente formulario</title>
</head>
<body>
	<form action="#" th:object="${prestamo}" th:action="@{'/prestamo/__${prestamo.id}__/solicitud'}"  method="post">
 	<table>
 		
 		
 
 		<tr>
 			<td>Direccion:</td>
 			<td>
 			<input type="hidden" th:field="*{id}"/>
 			<input type="text" th:field="*{dirrcion}"/></td>
 			<td th:if="${#fields.hasErrors('dirrcion')}"
 			    th:errors="*{dirrcion}">Nombre Error</td>
 		</tr>
 		 <tr>
 			<td>Telefono:</td>
 			<td>
 			<input type="text" th:field="*{Telefono}"/></td>
 			<td th:if="${#fields.hasErrors('Telefono')}"
 			    th:errors="*{Telefono}">Nombre Error</td>
 		</tr>
 		<tr>
 			<td></td>
 			<td><input type="submit" value="Confirmar Prestamo"/>
 				<input type="reset" value="cancelar"/></td>
 			<td></td>
 		</tr>
 	</table>
 
 
 </form>
</body>
</html>