<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Complete el siguiente formulario</title>
</head>
<body>
	<form action="#" th:object="${prestamo}" th:action="@{'/prestamo/__${prestamo.id}__/solicitud'}"  method="post">
 	<table>
 	 	<tr hidden>
 			<td>Nombre:</td>
 			<td>
 			<input type="text" th:field="*{nombre}" th:text="prestamo.nombre"/></td>
 		</tr>
 		<tr hidden>
 			<td>Apellido:</td>
 			<td>
 			<input type="text" th:field="*{apellido}" th:text="prestamo.apellido"/></td>
 		</tr>
 		<tr hidden>
 			<td>DNI:</td>
 			<td>
 			<input type="text" th:field="*{dni}" th:text="prestamo.dni"/></td>
 		</tr>
 		<tr hidden>
 			<td>Correo:</td>
 			<td>
 			<input type="text" th:field="*{correo}" th:text="prestamo.correo"/></td>
 		</tr>
 		 <tr hidden>
 			<td>Sueldo:</td>
 			<td>
 			<input type="text" th:field="*{sueldo}" th:text="prestamo.sueldo"/></td>
 		</tr>
 		 <tr hidden>
 			<td>Planilla:</td>
 			<td>
 			<input type="text" th:field="*{planilla}" th:text="prestamo.panilla"/></td>
 		</tr>
 		<tr hidden>
 			<td>Impuesto:</td>
 			<td>
 			<input type="text" th:field="*{ImpRentaPagar}" th:text="prestamo.ImpRentaPagar"/></td>
 		</tr>
 		 <tr hidden>
 			<td>Tipo Prestamo:</td>
 			<td>
 			<input type="text" th:field="*{TipoPrestamo}" th:text="prestamo.TipoPrestamo"/></td>
 		</tr>
 		<tr>
 			<td>Direccion:</td>
 			<td>
 			<input type="text" th:field="*{direccion}"/></td>
 		</tr>
 		 <tr>
 			<td>Telefono:</td>
 			<td>
 			<input type="text" th:field="*{Telefono}"/></td>
 		</tr>
 		<tr>
 			<td></td>
 			<td><input type="submit" value="Confirmar Prestamo"/>
 				<input type="reset" value="cancelar"/></td>
 			<td></td>
 		</tr>
 	</table>
 
 
 </form>
</body>
</html>