<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Interfaz de Generacion de Prestamo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Lista de Personas que quieren prestamos</h1>
		<form action="#" th:action="@{/prestamo/listar}" th:object="${prestamo}" method="post">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>DNI</th>
					<th>Correo</th>
					<th>Sueldo</th>
				</tr>
			</thead>
				<tbody>
				<tr th:each="prestamo : ${prestamo}">
					<td th:text="${prestamo.nombre}"></td>
					<td th:text="${prestamo.apellido}"></td>
					<td th:text="${prestamo.dni}"></td>
					<td th:text="${prestamo.correo}"></td>
					<td th:text="${prestamo.sueldo}"></td>
				</tr>
				</tbody>
			</table>
			<br> <input type="submit" class="btn btn-secondary" value="Generar Prestamo">
		</form>
		<br>
		<form action="/">
			<input type="submit" class="btn btn-secondary" value="Regresar">
		</form>
	</div>
</body>
</html>