<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<title>Solicitar Prestamo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<br>
		<h1>Ver si puedes solicitar Prestamo</h1>
		<br>
		<div class="row">
			<div class="col-lg-10">
				<form action="#" th:action="@{/prestamo/nuevo}"
					th:object="${prestamo}" method="post">

					<div class="form-group row">
						<div class="col-xs-6">
							Nombre: <input type="text" class="form-control"
								th:field="*{nombre}">
							<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
								class="text-danger">Debe ingresar su nombre</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-xs-6">
							Apellido: <input type="text" class="form-control"
								th:field="*{apellido}">
							<div th:if="${#fields.hasErrors('apellido')}"
								th:errors="*{apellido}" class="text-danger">Debe ingresar
								su apellido</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-xs-6">
							DNI: <input type="text" class="form-control" th:field="*{dni}">
							<div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"
								class="text-danger">Debe ingresar su DNI</div>
						</div>
					</div>
					<div class="form-group">
						<input type="checkbox" th:field="*{planilla}"> Figura en
						Planilla
					</div>
					<div class="form-group row">
						<div class="col-xs-6">
							Correo: <input type="text" class="form-control"
								th:field="*{correo}">
							<div th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"
								class="text-danger">Debe ingresar su correo</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-xs-6">
							Sueldo: <input type="text" class="form-control"
								th:field="*{sueldo}">
							<div th:if="${#fields.hasErrors('sueldo')}" th:errors="*{suledo}"
								class="text-danger">Debe ingresar su sueldo</div>
						</div>
					</div>
					<br> <input type="submit" class="btn btn-secondary"
						value="Evaluar">
				</form>
			</div>
		</div>
	</div>
</body>
</html>