<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<title>Solicitar Prestamo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	<br>
	<h1>Simulacion de Creditos</h1>
	<br>
		<div class="row">
			<div class="col-lg-10">
				<form action="#" th:action="@{/prestamo/nuevo}"
					th:object="${prestamo}" method="post">

					<div class="form-group">

						Nombre: <input type="text" class="form-control"
							th:field="*{nombre}">
						<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
							class="text-danger">Debe ingresar su nombre</div>

					</div>
					<div class="form-group">

						Apellido: <input type="text" class="form-control"
							th:field="*{apellido}">
						<div th:if="${#fields.hasErrors('apellido')}"
							th:errors="*{apellido}" class="text-danger">Debe ingresar
							su apellido</div>
					</div>
					<div class="form-group">

						DNI: <input type="text" class="form-control" th:field="*{dni}">
						<div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"
							class="text-danger">Debe ingresar su DNI</div>
					</div>
					<div class="form-group">

						Ingreso Mensual: <input type="text" class="form-control"
							th:field="*{ingresoMensual}">
						<div th:if="${#fields.hasErrors('ingresoMensual')}"
							th:errors="*{ingresoMensual}" class="text-danger">Debe
							ingresar su Ingreso Mensual</div>
					</div>
					<div class="form-group">

						Gasto Mensual: <input type="text" class="form-control"
							th:field="*{gastoMensual}">
						<div th:if="${#fields.hasErrors('gastoMensual')}"
							th:errors="*{gastoMensual}" class="text-danger">Debe
							ingresar su Gastos Mensual</div>
					</div>
					<div class="form-group">

						Hobby: <input type="text" class="form-control" th:field="*{hobby}">
						<div th:if="${#fields.hasErrors('hobby')}" th:errors="*{hobby}"
							class="text-danger">Debe ingresar su Hobby</div>

					</div>
					<br> <input type="submit" class="btn btn-secondary"
						value="Evaluar">
				</form>
			</div>
		</div>
	</div>
</body>
</html>