<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Resultado Buscado</title>
</head>
<body>
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>DNI</th>
					<th>Correo</th>
					<th>Planilla</th>
					<th>Impuesto a la Renta a pagar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prestamo : ${prestamo}">
					<td th:text="${prestamo.nombre}"></td>
					<td th:text="${prestamo.apellido}"></td>
					<td th:text="${prestamo.dni}"></td>
					<td th:text="${prestamo.correo}"></td>
					<td th:text="${prestamo.planilla}"></td>
					<td th:text="${prestamo.ImpRentaPagar}"></td>
				</tr>
			</tbody>
		</table>
</body>
</html>