<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>setTimeout(function(){window.location.href='http://localhost:8080'},3000);</script>
<title>Sera notificado a su correo</title>
<style>
	body{
		background-color: rgb(33,82,86);

	}
	#contain div{
		background-color: rgb(99,177,177);		
	}
	#title div{
		background-color: rgb(153,204,204);
		text-align: center;
		padding-bottom: 5%;
		padding-top: 5%;		
	}
</style>
</head>
<body>
		<div id="contain" class="container">
			<div class="row">
				<div id="title" class="col-lg-12">
					<h1>Sera notificado a su correo</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>En unos dias recibiras una notificacion en su correo. Al recibir el correo tendra que seguir las siguiente instrucciones.</p>
				</div>
			</div>
		</div>
</body>
</html>